# Node modules
node_modules/
# Compiled output
out/
# Logs
*.log
# Mac OS files
.DS_Store
# VS Code settings
.vscode/
# Build artifacts
*.vsix
coverage/
.eslintcache
Thumbs.db
.idea/
*.sublime-project
*.sublime-workspace

"/
