{
  "useTabs": false,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 70,
        "useTabs": false,
        "trailingComma": "none",
        "arrowParens": "avoid",
        "proseWrap": "never"
      }
    },
    {
      "files": "*.{js,json,babelrc,eslintrc,mjs,remarkrc,prettierrc}",
      "options": {
        "useTabs": false
      }
    }
  ]
}
